* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}
@media screen and (max-width:1100px) {
  .products-container{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width:560px) {
  .products-container{
      grid-template-columns: repeat(1, 1fr);
  }
}
.cart-container{
  position: sticky;
  top: 0;
  padding: 30px 20px;
  background-color: rgb(216, 192, 136);
  
}
.cart-container h1{
  position: sticky;
  top: 0;
  margin-bottom: 27px;
  background-color: rgb(216, 192, 136);
  
}
.btn-cart{
  background-color: rgb(129, 129, 143);
  border: none;
  padding: 20px;
  border-radius: 15px;
  color: aliceblue;
}
.pop{
  margin-right: 15px;
}
.pip{
  position:absolute;
  top: 20px;
  right: 840px;
}
.pap{
  position:absolute;
  top: 54px;
  right: 742px;
}
.first{
  background-color: antiquewhite;
  text-align: center;
  color: rgb(42, 40, 40);
  border-radius: 20px;
  height: 200px;
  margin-bottom: 15px;
}
.first h1 {
  margin-bottom: 10px;
  background-color: rgb(185, 102, 102);
  border-radius: 60px;
}
.second{
  margin-top: 30px;
  background-color: antiquewhite;
  text-align: center;
  color: rgb(42, 40, 40);
  border-radius: 20px;
  height: 100px;
}